In [2]:
import pandas as pd

In [3]:
data = pd.read_csv("100 Sales Records.csv")
data.head()

,Region,Country,Item Type,Sales Channel,Order Priority,Order Date,Order ID,Ship Date,Units Sold,Unit Price,Unit Cost,Total Revenue,Total Cost,Total Profit
0,Australia and Oceania,Tuvalu,Baby Food,Offline,H,5/28/2010,669165933,6/27/2010,9925,255.28,159.42,2533654.00,1582243.50,951410.50
1,Central America and the Caribbean,Grenada,Cereal,Online,C,8/22/2012,963881480,9/15/2012,2804,205.70,117.11,576782.80,328376.44,248406.36
2,Europe,Russia,Office Supplies,Offline,L,05-02-2014,341417157,05-08-2014,1779,651.21,524.96,1158502.59,933903.84,224598.75
3,Sub-Saharan Africa,Sao Tome and Principe,Fruits,Online,C,6/20/2014,514321792,07-05-2014,8102,9.33,6.92,75591.66,56065.84,19525.82
4,Sub-Saharan Africa,Rwanda,Office Supplies,Offline,L,02-01-2013,115456712,02-06-2013,5062,651.21,524.96,3296425.02,2657347.52,639077.50

In [4]:
data.shape

(100, 14)

In [6]:
data.columns

Index(['Region', 'Country', 'Item Type', 'Sales Channel', 'Order Priority',
       'Order Date', 'Order ID', 'Ship Date', 'Units Sold', 'Unit Price',
       'Unit Cost', 'Total Revenue', 'Total Cost', 'Total Profit'],
      dtype='object')

In [16]:
#checking null values
data.isnull().sum()/len(df)*100

Region            0.0
Country           0.0
Item Type         0.0
Sales Channel     0.0
Order Priority    0.0
Order Date        0.0
Order ID          0.0
Ship Date         0.0
Units Sold        0.0
Unit Price        0.0
Unit Cost         0.0
Total Revenue     0.0
Total Cost        0.0
Total Profit      0.0
dtype: float64

In [17]:
data.describe()

,Order ID,Units Sold,Unit Price,Unit Cost,Total Revenue,Total Cost,Total Profit
count,1.000000e+02,100.000000,100.000000,100.000000,1.000000e+02,1.000000e+02,1.000000e+02
mean,5.550204e+08,5128.710000,276.761300,191.048000,1.373488e+06,9.318057e+05,4.416820e+05
std,2.606153e+08,2794.484562,235.592241,188.208181,1.460029e+06,1.083938e+06,4.385379e+05
min,1.146066e+08,124.000000,9.330000,6.920000,4.870260e+03,3.612240e+03,1.258020e+03
25%,3.389225e+08,2836.250000,81.730000,35.840000,2.687212e+05,1.688680e+05,1.214436e+05
50%,5.577086e+08,5382.500000,179.880000,107.275000,7.523144e+05,3.635664e+05,2.907680e+05
75%,7.907551e+08,7369.000000,437.200000,263.330000,2.212045e+06,1.613870e+06,6.358288e+05
max,9.940222e+08,9925.000000,668.270000,524.960000,5.997055e+06,4.509794e+06,1.719922e+06

In [19]:
data.dtypes

Region             object
Country            object
Item Type          object
Sales Channel      object
Order Priority     object
Order Date         object
Order ID            int64
Ship Date          object
Units Sold          int64
Unit Price        float64
Unit Cost         float64
Total Revenue     float64
Total Cost        float64
Total Profit      float64
dtype: object

In [9]:
# Checking unique date formats
date_formats = data['Order Date'].apply(lambda x: pd.to_datetime(x, errors='coerce')).dropna().unique()
print(date_formats)

<DatetimeArray>
['2010-05-28 00:00:00', '2012-08-22 00:00:00', '2014-05-02 00:00:00',
 '2014-06-20 00:00:00', '2013-02-01 00:00:00', '2015-02-04 00:00:00',
 '2011-04-23 00:00:00', '2012-07-17 00:00:00', '2015-07-14 00:00:00',
 '2014-04-18 00:00:00', '2011-06-24 00:00:00', '2014-08-02 00:00:00',
 '2017-01-13 00:00:00', '2017-02-08 00:00:00', '2014-02-19 00:00:00',
 '2012-04-23 00:00:00', '2016-11-19 00:00:00', '2015-04-01 00:00:00',
 '2010-12-30 00:00:00', '2012-07-31 00:00:00', '2014-05-14 00:00:00',
 '2015-07-31 00:00:00', '2016-06-30 00:00:00', '2014-09-08 00:00:00',
 '2016-05-07 00:00:00', '2017-05-22 00:00:00', '2014-10-13 00:00:00',
 '2010-05-07 00:00:00', '2014-07-18 00:00:00', '2012-05-26 00:00:00',
 '2012-09-17 00:00:00', '2013-12-29 00:00:00', '2015-10-27 00:00:00',
 '2015-01-16 00:00:00', '2017-02-25 00:00:00', '2017-05-08 00:00:00',
 '2011-11-22 00:00:00', '2017-01-14 00:00:00', '2012-04-01 00:00:00',
 '2012-02-16 00:00:00', '2017-03-11 00:00:00', '2010-02-06 00:00:00',
 '2012-06-07 00:00:00', '2012-10-06 00:00:00', '2015-11-14 00:00:00',
 '2016-03-29 00:00:00', '2016-12-31 00:00:00', '2010-12-23 00:00:00',
 '2014-10-14 00:00:00', '2012-01-11 00:00:00', '2010-02-02 00:00:00',
 '2013-08-18 00:00:00', '2013-03-25 00:00:00', '2011-11-26 00:00:00',
 '2013-09-17 00:00:00', '2012-06-08 00:00:00', '2010-06-30 00:00:00',
 '2015-02-23 00:00:00', '2012-01-05 00:00:00', '2014-04-07 00:00:00',
 '2013-06-09 00:00:00', '2013-06-26 00:00:00', '2011-11-07 00:00:00',
 '2010-10-30 00:00:00', '2013-10-13 00:00:00', '2013-10-11 00:00:00',
 '2012-07-08 00:00:00', '2016-07-25 00:00:00', '2010-10-24 00:00:00',
 '2015-04-25 00:00:00', '2013-04-23 00:00:00', '2015-08-14 00:00:00',
 '2011-05-26 00:00:00', '2017-05-20 00:00:00', '2013-07-05 00:00:00',
 '2014-11-06 00:00:00', '2014-10-28 00:00:00', '2011-09-15 00:00:00',
 '2012-05-29 00:00:00', '2013-07-20 00:00:00', '2012-10-21 00:00:00',
 '2012-09-18 00:00:00', '2016-11-15 00:00:00', '2011-01-04 00:00:00',
 '2012-03-18 00:00:00', '2012-02-17 00:00:00', '2011-01-16 00:00:00',
 '2014-02-03 00:00:00', '2012-04-30 00:00:00', '2016-10-23 00:00:00',
 '2016-12-06 00:00:00', '2014-07-07 00:00:00', '2012-06-13 00:00:00',
 '2010-11-26 00:00:00', '2011-02-08 00:00:00', '2011-07-26 00:00:00',
 '2011-11-11 00:00:00', '2016-06-01 00:00:00', '2015-07-30 00:00:00',
 '2012-02-10 00:00:00']
Length: 100, dtype: datetime64[ns]

In [10]:
# Converting dates with automatic inference
data['Order Date'] = pd.to_datetime(data['Order Date'], errors='coerce')
data['Ship Date'] = pd.to_datetime(data['Ship Date'], errors='coerce')

In [11]:
# Checking for missing dates
print(data[['Order Date', 'Ship Date']].isna().sum())

Order Date    34
Ship Date     36
dtype: int64

In [12]:
# Feature Engineering
data['Year'] = data['Order Date'].dt.year
data['Month'] = data['Order Date'].dt.month
data['Quarter'] = data['Order Date'].dt.quarter

# Aggregate data
monthly_sales = data.groupby(['Year', 'Month'])['Total Revenue'].sum().reset_index()
monthly_sales.columns = ['Year', 'Month', 'Total Revenue']

# Create Lag Features
monthly_sales['Lag_1'] = monthly_sales['Total Revenue'].shift(1)
monthly_sales['Lag_2'] = monthly_sales['Total Revenue'].shift(2)
monthly_sales = monthly_sales.dropna()  # Dropping rows with NaN values due to shifting

In [14]:
# Extracting year, month, and quarter from 'Order Date'
data['Year'] = data['Order Date'].dt.year
data['Month'] = data['Order Date'].dt.month
data['Quarter'] = data['Order Date'].dt.quarter

# Aggregate sales data monthly
monthly_sales = data.groupby(['Year', 'Month'])['Total Revenue'].sum().reset_index()
monthly_sales.columns = ['Year', 'Month', 'Total Revenue']

# Creating lag features for forecasting
monthly_sales['Lag_1'] = monthly_sales['Total Revenue'].shift(1)
monthly_sales['Lag_2'] = monthly_sales['Total Revenue'].shift(2)
monthly_sales = monthly_sales.dropna()  # Dropping rows with NaN values due to lag features

In [15]:
from sklearn.model_selection import train_test_split

# Defining features and target
X = monthly_sales[['Lag_1', 'Lag_2']]
y = monthly_sales['Total Revenue']

# Splitting the data chronologically (no shuffling)
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, shuffle=False)

In [16]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_absolute_error, mean_squared_error

# Initializing and training the model
model = RandomForestRegressor(n_estimators=100, random_state=42)
model.fit(X_train, y_train)

# Predicting on the test set
y_pred = model.predict(X_test)

In [17]:
# Calculating error metrics
mae = mean_absolute_error(y_test, y_pred)
mse = mean_squared_error(y_test, y_pred)

print(f"Mean Absolute Error: {mae}")
print(f"Mean Squared Error: {mse}")

Mean Absolute Error: 1442817.45911
Mean Squared Error: 3001104407445.5815

In [19]:
import numpy as np

# Using the last known values to predict future sales
latest_data = np.array(monthly_sales[['Lag_1', 'Lag_2']].iloc[-1]).reshape(1, -1)

# Predicting sales for the next 3 months
future_sales = []
for _ in range(3):
    next_month_sales = model.predict(latest_data)[0]
    future_sales.append(next_month_sales)
    # Update the latest data for the next prediction
    latest_data = np.array([[next_month_sales, latest_data[0, 0]]])

print(f"Forecasted Sales for the next 3 months: {future_sales}")

Forecasted Sales for the next 3 months: [3201758.2075000014, 1082003.5122999998, 3246202.852000002]

C:\ProgramData\anaconda3\Lib\site-packages\sklearn\base.py:464: UserWarning: X does not have valid feature names, but RandomForestRegressor was fitted with feature names
  warnings.warn(
C:\ProgramData\anaconda3\Lib\site-packages\sklearn\base.py:464: UserWarning: X does not have valid feature names, but RandomForestRegressor was fitted with feature names
  warnings.warn(
C:\ProgramData\anaconda3\Lib\site-packages\sklearn\base.py:464: UserWarning: X does not have valid feature names, but RandomForestRegressor was fitted with feature names
  warnings.warn(